main {
  width:960px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: rgb(48,48,48);
}

.hero {
  position: relative;
  width: 940px;
  height: 420px;
  border: solid rgba(242,242,242,0.6) 10px;
}

section.hero:after {
  content: "";
  background-image: url("../img/hero2.jpg");
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}

.hero h1 {
  position: absolute;
  top: 100px;
  right: 10px;
  width: 600px;
  font-family: 'Permanent Marker', cursive;
  font-size: 100px;
  color: rgb(242,242,242);
  text-align: center;
}

form {
  width: 600px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border: solid rgb(190,144,100) 2px;
  background-color: rgb(68,68,68);
}

fieldset {
  text-align: center;
  padding: 20px;
}

label {
  font-family: 'Droid Sans', sans-serif;
  font-size: 20px;
  color: white;
}

input {
  display: inline-block;
}

input:hover {
  outline: solid rgb(210,16,26) 2px;
}

.button {
  width: 200px;
  margin: auto;
  padding-bottom: 20px;
}

button {
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
  margin: auto;
  color: white;
  background-color: rgb(48,48,48);
  border-radius: 30%;
  padding: 10px;
  transition: 500ms all;
}

button:hover {
  background-color: rgb(210,16,26);
}
