main {
  width:960px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  background-color: rgb(48,48,48);
}

form {
  width: 600px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border: solid rgb(190,144,100) 2px;
  background-color: rgb(68,68,68);
}

fieldset {
  text-align: center;
  padding: 20px;
}

label {
  font-family: 'Droid Sans', sans-serif;
  font-size: 20px;
  color: white;
}

input {
  display: inline-block;
}

input:hover {
  outline: solid rgb(210,16,26) 2px;
}

.button {
  width: 200px;
  margin: auto;
  padding-bottom: 20px;
}

button {
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
  margin: auto;
  color: white;
  background-color: rgb(48,48,48);
  border-radius: 30%;
  padding: 10px;
  transition: 500ms all;
}

button:hover {
  background-color: rgb(210,16,26);
}
