main {
  width:960px;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 20px;
}

.hero {
  position: relative;
  width: 920px;
  height: 400px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  border: solid rgba(242,242,242,0.6) 10px;
}

.bhero {
  position: absolute;
  opacity: 0.6
}

.hero h1 {
  position: absolute;
  top: 100px;
  right: 10px;
  width: 600px;
  font-family: 'Permanent Marker', cursive;
  font-size: 100px;
  color: rgb(242,242,242);
  text-align: center;
}

.lform {
  width: 960px;
  margin: 0 auto;
  padding: 20px 0 20px 0;
  background-color: rgb(48,48,48);
}

form {
  width: 600px;
  margin: auto;
  border: solid rgb(190,144,100) 2px;
  background-color: rgb(68,68,68);
}

fieldset {
  text-align: center;
  padding: 20px;
}

label {
  font-family: 'Droid Sans', sans-serif;
  font-size: 20px;
  color: white;
}

input {
  display: inline-block;
}

input:hover {
  outline: solid rgb(210,16,26) 2px;
}

.button {
  width: 200px;
  margin: auto;
  padding-bottom: 20px;
}

button {
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
  margin: auto;
  color: white;
  background-color: rgb(48,48,48);
  border-radius: 30%;
  padding: 10px;
  transition: 500ms all;
}

button:hover {
  background-color: rgb(210,16,26);
}
