main {
  width: 960px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: rgb(68,68,68);
}

/*section.hero {
  outline: dashed 2px red;
  width: 960px;
  height: 420px;
  background-image: url("../img/hero1.jpg");
}*/

.hero {
  position: relative;
  width: 920px;
  height: 400px;
  margin: auto;
  padding: 10px;
  border: solid rgba(242,242,242,0.6) 10px;
}

.bhero {
  position: absolute;
  opacity: 0.6
}

.hero h1 {
  position: absolute;
  top: 100px;
  left: 10px;
  width: 600px;
  font-family: 'Permanent Marker', cursive;
  font-size: 100px;
  color: rgb(242,242,242);
  text-align: center;
}

/*////// TOP 10 //////*/
#rank {
  outline: dashed black 6px;
  position: relative;
  width: 960px;
  height: 600px;
  margin: 0 auto;
  margin-top: 40px;
}

/*// #1 //*/
#rank ul:first-child {
  outline: solid 2px red;
  position: absolute;
  top: 0;
  width: 960px;
}

#rank ul:first-child li:first-child {
  outline: dashed white 2px;
  display: inline-block;
  width: 60px;
  padding: 10px;
  background-color: rgb(190,140,50);
  border-radius: 20px;
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
  color: rgb(242,242,242);
  text-align: center;
}


/*// #2 //*/
#rank ul:nth-child(2) {
  outline: solid 2px red;
  position: absolute;
  top: 200px;
  width: 960px;
}

#rank ul:nth-child(2) li:first-child {
  outline: dashed white 2px;
  display: inline-block;
  width: 60px;
  padding: 10px;
  background-color: rgb(160,160,160);
  border-radius: 20px;
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
  color: rgb(242,242,242);
  text-align: center;
}


/*// #3 //*/
#rank ul:nth-child(3) {
  outline: solid 2px red;
  position: absolute;
  top: 400px;
  width: 960px;
}

#rank ul:nth-child(3) li:first-child {
  outline: dashed white 2px;
  display: inline-block;
  width: 60px;
  padding: 10px;
  background-color: rgb(160,86,42);
  border-radius: 20px;
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
  color: rgb(242,242,242);
  text-align: center;
}


/*// NAME LI //*/
#rank ul li:nth-child(2) {
  outline: dashed green 2px;
  display: inline-block;
  width: 240px;
  padding: 20px;
  background-color: rgba(242,242,242,0.6);
  border-radius: 20px;
  font-family: 'Droid Sans', sans-serif;
  font-size: 30px;
  color: rgb(48,48,48);
  text-align: left;
}

/*// SCORE LI //*/
#rank ul li:nth-child(3) {
  outline: dashed orange 2px;
  display: inline-block;
  width: 200;
  padding: 10px;
  font-family: 'Droid Sans', sans-serif;
  font-size: 30px;
  color: rgb(242,242,242);
  text-align: center;
}

/*// IMG //*/
#rank img {
  outline: dashed 2px purple;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
