main {
  outline: dashed 2px orange;
  width: 960px;
  height: 800px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: rgb(68,68,68);
}

/*section.hero {
  outline: dashed 2px red;
  width: 960px;
  height: 420px;
  background-image: url("../img/hero1.jpg");
}*/

.hero {
  position: relative;
  width: 940px;
  height: 420px;
  border: solid rgba(242,242,242,0.6) 10px;
}

section:after {
  content: "";
  background-image: url("../img/hero1.jpg");
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}

.hero h1 {
  position: absolute;
  top: 100px;
  left: 10px;
  width: 600px;
  font-family: 'Permanent Marker', cursive;
  font-size: 100px;
  color: rgb(242,242,242);
  text-align: center;
}
