main {
  width: 960px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: rgb(68,68,68);
}

/*// HERO //*/
.hero {
  position: relative;
  width: 920px;
  height: 400px;
  margin: auto;
  padding: 10px;
  border: solid rgba(242,242,242,0.6) 10px;
}

.bhero {
  position: absolute;
  opacity: 0.6
}

.hero h1 {
  position: absolute;
  top: 100px;
  left: 10px;
  width: 600px;
  font-family: 'Permanent Marker', cursive;
  font-size: 100px;
  color: rgb(242,242,242);
  text-align: center;
}

/*// LOG IN //*/
.login {
  position: relative;
  width: 960px;
  height: 300px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: rgb(48,48,48);
}

#login_form {
  position: absolute;
  top: 20px;
  left: calc(50% - 200px);
  width: 400px;
  border: solid rgb(190,144,100) 2px;
}

#login_form fieldset {
  text-align: center;
  padding: 20px;
}

#login_form label {
  font-family: 'Droid Sans', sans-serif;
  font-size: 20px;
  color: white;
}

#login_form input {
  display: inline-block;
}

#login_form input:hover {
  outline: solid rgb(210,16,26) 2px;
}

.button {
  width: 120px;
  margin: 0 auto;
  padding-bottom: 20px;
}

#login_form button {
  font-family: 'Permanent Marker', cursive;
  font-size: 28px;
  margin: auto;
  color: white;
  background-color: rgb(48,48,48);
  border-radius: 30%;
  padding: 10px;
  transition: 500ms all;
}

#login_form button:hover {
  background-color: rgb(210,16,26);
}
/*// INFO //*/
#info {
  position: relative;
  width: 960px;
  height: 280px;
  margin: 0 auto;
}

#info img {
  position: absolute;
  left: 40px;
  top: 20px;
  width: 260px;
  height: 260px;
  border-radius: 50%;
}

#info ul {
  position: absolute;
  top: 40px;
  right: 0;
  width: 600px;
}

#info ul li {
  float: left;
  padding: 30px;
  font-family: 'Droid Sans', sans-serif;
  font-size: 20px;
  color: rgb(242,242,242);
}

#info ul li:first-child {
  width: 540px;
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
  color: rgb(242,242,242);
  text-align: center;
}

#info button {
  font-family: 'Permanent Marker', cursive;
  font-size: 28px;
  margin-top: 5px;
  margin-left: 25px;
  color: white;
  background-color: rgb(48,48,48);
  border-radius: 30%;
  padding: 10px;
  transition: 500ms all;
}

#info button:hover {
  background-color: rgb(210,16,26);
}

/*////// OTHERS //////*/
#others {
  width: 860px;
  height: 400px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 40px;
  border: solid rgb(242,242,242) 10px;
  overflow: scroll;
}

#others ul {
  outline: solid red 2px;
  display: block;
  width: 820px;
  margin-top: 20px;
}

#others ul li {
  display: block;
  float: left;
}

/*// NUMBER LI //*/
#others ul li:first-child {
  display: none;
}

/*// NAME LI //*/
#others ul li:nth-child(2) {
  width: 400px;
  margin: 15px 20px 0 0;
  padding: 20px;
  background-color: rgba(242,242,242,0.6);
  border-radius: 20px;
  font-family: 'Droid Sans', sans-serif;
  font-size: 30px;
  color: rgb(48,48,48);
  text-align: left;
}

/*// WINS //*/
#others ul li:nth-child(3) {
  width: 200px;
  margin: 15px 20px 0 0;
  padding: 20px 10px 20px 10px;
  background-color: rgba(242,242,242,0.6);
  border-radius: 20px;
  font-family: 'Droid Sans', sans-serif;
  font-size: 30px;
  color: rgb(48,48,48);
  text-align: center;
}

/*// IMG //*/
#others img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
