main {
  width: 960px;
  margin: 0 auto;
  background-color: rgb(68,68,68);
}

/*//////////// HERO ////////////*/
.hero {
  position: relative;
  width: 940px;
  height: 420px;
  border: solid rgba(242,242,242,0.6) 10px;
}

section.hero::after {
  content: "";
  background-image: url("../img/hero1.jpg");
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}

.hero h1 {
  position: absolute;
  top: 100px;
  left: 10px;
  width: 600px;
  font-family: 'Permanent Marker', cursive;
  font-size: 100px;
  color: rgb(242,242,242);
  text-align: center;
}



#logIn{
     width: 960px;
     display: block;
     text-align: center;
}
fieldset{
     padding: 10px;
     font-size: 20px;
}
input{
     padding: 5px;
     font-size: 20px;
}
#logIn button{
     padding: 10px 30px;
     font-size: 20px;
     cursor: pointer;
}
.pic{
     padding: 20px;
}
.name{
     display: inline-block;
     vertical-align: top;
     font-size: 35px;
     font-weight: bold;
     align-self: center;
     margin-top: 10px;
     outline: dashed 2px blue;
}
.info{
     outline: dashed 2px orange;
     display: inline-block;
     vertical-align: top;
     font-family: 'Droid Sans';
     font-size: 30px;
     margin-top: 25px;
     width: 600px;
     padding: 20px;
}
button{
     /* align button */
}
