main {
  width: 960px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: rgb(68,68,68);
}

/*// HERO //*/
.hero {
  position: relative;
  width: 920px;
  height: 400px;
  margin: auto;
  padding: 10px;
  border: solid rgba(242,242,242,0.6) 10px;
}

.bhero {
  position: absolute;
  opacity: 0.6
}

.hero h1 {
  position: absolute;
  top: 100px;
  left: 10px;
  width: 600px;
  font-family: 'Permanent Marker', cursive;
  font-size: 100px;
  color: rgb(242,242,242);
  text-align: center;
}

/*// LOG IN //*/
.login {
  position: relative;
  width: 960px;
  height: 260px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: rgb(48,48,48);
}

#login_form {
  position: absolute;
  top: 20px;
  left: calc(50% - 200px);
  width: 400px;
  border: solid rgb(190,144,100) 2px;
}

#login_form fieldset {
  text-align: center;
  padding: 20px;
}

#login_form label {
  font-family: 'Droid Sans', sans-serif;
  font-size: 20px;
  color: white;
}

#login_form input {
  display: inline-block;
}

#login_form input:hover {
  outline: solid rgb(210,16,26) 2px;
}

.button {
  width: 120px;
  margin: 0 auto;
  padding-bottom: 20px;
}

#login_form button {
  font-family: 'Permanent Marker', cursive;
  font-size: 28px;
  margin: auto;
  color: white;
  background-color: rgb(48,48,48);
  border-radius: 30%;
  padding: 10px;
  transition: 500ms all;
}

#login_form button:hover {
  background-color: rgb(210,16,26);
}
/*// INFO //*/
#info {
  outline: dashed white 2px;
  position: relative;
  width: 960px;
  height: 250px;
  margin: 0 auto;
}

#info img {
  position: absolute;
  left: 0;
  top: 0;
}

#info ul {
  outline: dashed orange 2px;
  position: absolute;
  top: 0;
  right: 0;
  width: 600px;
}

#info ul li {
  outline: dashed green 2px;
  display: inline-block;
  padding: 30px;
  font-family: 'Droid Sans', sans-serif;
  font-size: 20px;
  color: rgb(242,242,242);
}

/*// OTHERS //*/
#others {
  outline: dashed green 2px;
  position: relative;
  width: 960px;
  height: 600px;
}

#others ul:first-child {
  outline: dashed gold 2px;
  position: absolute;
  top: 0;
  width: 960px;
}

#others ul:nth-child(2) {
  outline: dashed gold 2px;
  position: absolute;
  top: 100px;
  width: 960px;
}

#others ul:nth-child(3) {
  outline: dashed gold 2px;
  position: absolute;
  top: 200px;
  width: 960px;
}

#others ul:nth-child(4) {
  outline: dashed gold 2px;
  position: absolute;
  top: 300px;
  width: 960px;
}

#others ul:nth-child(5) {
  outline: dashed gold 2px;
  position: absolute;
  top: 400px;
  width: 960px;
}

#others ul:nth-child(6) {
  outline: dashed gold 2px;
  position: absolute;
  top: 500px;
  width: 960px;
}

#others ul li {
  outline: dashed pink 2px;
  display: inline-block;
  padding: 20px;
  font-family: 'Droid Sans', sans-serif;
  font-size: 20px;
  color: rgb(242,242,242);
}
